[Unit]
Description=docker-compose service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/compose
ExecStartPre=-/usr/local/bin/docker-compose down
ExecStartPre=-/usr/local/bin/docker-compose rm
ExecStartPre=-/usr/local/bin/docker-compose pull
ExecStartPre=-/usr/bin/docker pull caddy:builder
ExecStartPre=-/usr/bin/docker pull caddy:latest
ExecStart=/usr/local/bin/docker-compose up --build --remove-orphans
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
